header{

    background:#d9a7c7; 
    height: 120px;
    align-items: center;
}
.navBar {
	li {
		list-style: none;
		a {
			text-decoration: none;
			color: $color_1;
			font-size: 20px;
			font-family: $font-family_1;
			padding: 5px;
			&:hover {
				background-color: $background-color_1;
				border-radius: 50%;
			}
			&:active {
				color: $color_2;
			}
		}
	}
}
